<h1>50 Angular Components:</h1>
<a routerLink=" "><h3>1. Display Hello World</h3></a>
<a routerLink="/showhellobutton"><h3>2. Show Hello Button</h3></a>
<a routerLink="/displayname"><h3>3. Display Name</h3></a>
<a routerLink="/counter"><h3>4. Counter</h3></a>
<a routerLink="/simpleform"><h3>5. Simple Form</h3></a>
<a routerLink="/userage"><h3>6. User Age</h3></a>
<a routerLink="/usergreeting"><h3>7. User Greeting</h3></a>
<a routerLink="/calculator"><h3>8. Calculator</h3></a>
<a routerLink="/textlength"><h3>9. Text Length</h3></a>
<a routerLink="/currencyconverter"><h3>10. Currency Converter</h3></a>
<a routerLink="/evenoddchecker"><h3>11. Even or Odd Number Checker</h3></a>
<a routerLink="/wordreverser"><h3>12. Word Reverser</h3></a>
<a routerLink="/showdate"><h3>13. Show Date</h3></a>
<a routerLink="/showusername"><h3>14. Show Username</h3></a>
<a routerLink="/multiplicationtable"><h3>15. Multiplication Table</h3></a>
<a routerLink="/simplelogin"><h3>16. Simple Login</h3></a>
<a routerLink="/fahrenheittocelsius"><h3>17. Fahrenheit To Celsius</h3></a>
<a routerLink="/bookmarklist"><h3>18. Bookmark List</h3></a>
<a routerLink="/charactercounter"><h3>19. Character Counter</h3></a>
<a routerLink="/palindromechecker"><h3>20. Palindrome Checker Word</h3></a>
<a routerLink="/temperatureconverter"><h3>21. Temperature Converter</h3></a>
<a routerLink="/shoppinglist"><h3>22. Shopping List</h3></a>
<a routerLink="/factorialcalculator"><h3>23. Factorial Calculator</h3></a>
<a routerLink="/todomanager"><h3>24. To do Manager</h3></a>
<a routerLink="/guessnumbergame"><h3>25. Guess The Number Game</h3></a>
<a routerLink="/wordcounter"><h3>26. Word Counter</h3></a>
<a routerLink="randomnumbergenerator"><h3>27. Random Number Generator</h3></a>
<a routerLink="/multiplicationchecker"><h3>28. Multiplication Checker</h3></a>
<hr>
<h1>50 Angular Components Output:</h1>
<router-outlet/>